input{
    font-size: large;
    border-radius: 20px; 
    position: relative;
    left: 10px;
}
button{
    background-color: #d5f4e6;
    border-radius: 5px;
    position: relative;
    left: 10px;
}
#div{
    height: 500px;
    width: 300px;
    border: 2px solid;
    border-radius: 20px;
    overflow: auto;
    position: relative;
    
}
#div:after {
    margin: 3rem;
    position: absolute;
    content: "text edit box";
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    color: #d5f4e6;
    top: 0;
    left: 0;font-size: 66px;
    font-style: italic;
    z-index: -1;
    
}
#para:nth-child(odd){
    display: inline;
    padding: 2px;
    background-color: rgb(167, 225, 156);
    font-size: x-large;
    border-radius: 5px;
   
}
#para:nth-child(even){
    /* display: inline; */
    padding: 2px;
    background-color: none;
    font-size: x-large;
    border-radius: 5px;
    text-align: right;

}
    

   